# WarmUp your Python Skills

**Author:** Andrés Felipe Zapata Palacio

<img src="https://sistemasgeniales.com/wp-content/uploads/2020/10/PYTHONLANG3.jpg" width="400px">

## 1. Strings

### 1.1. Create Strings

In [ ]:
text1 = 'Strings can be surrounded by single quotation marks (\').'
text2 = "They can also be surrounded by double quotation marks (\"), it's the same."

print(text1, text2)

Strings can be surrounded by single quotation marks ('). They can also be surrounded by double quotation marks ("), it's the same.

In [ ]:
longText1 = '''
If you need to write multiline strings
you can do it using three single quotes at the
beginning and at the end
'''

print(longText1)

If you need to write multiline strings
you can do it using three single quotes at the
beginning and at the end

In [ ]:
longText2 = """If you need to write multiline strings
you can also use three double quotes at the
beginning and at the end"""

print(longText2)

If you need to write multiline strings
you can also use three double quotes at the
beginning and at the end

### 1.2. Concatenation of Strings

In [ ]:
firstDigits = '01234'
lastDigits = '56789'
allDigits = firstDigits + lastDigits
print('All digits:',allDigits)

All digits: 0123456789

You must be aware of the data types when you concatenate objects. Sometimes, you need to cast the variables (transform it's data type). If you execute the following cell, it will fail because you can't concatenate Strings with Numbers:

In [ ]:
dolars = 10
print('I have ' + dolars + ' dolars')

TypeError: ignored

In [ ]:
dolars = 10
print('I have ' + str(dolars) + ' dolars')

I have 10 dolars

### 1.3. Getting information from a String

You can get the length of a String calling the len() function:

In [ ]:
vowels = 'aeiou'
nVowels = len(vowels)
print('# of vowels:',nVowels)

# of vowels: 5

You can get a letter in a specific position, specifying the index. Indices start from 0 in Python. In some programming languages such as MatLab, indices start at 1.

In [ ]:
firstLetter = vowels[0]
lastLetter = vowels[-1]

print('First Letter:', firstLetter)
print('Last Letter:', lastLetter)

First Letter: a
Last Letter: u

In [ ]:
lastIndex = len(vowels) - 1
lastLetter = vowels[lastIndex]
print('Last letter obtained calcuating the last index of the string:', lastLetter)

Last letter obtained calcuating the last index of the string: u

In [ ]:
print('vowels = "'+vowels+'"')
print()

for index in range(nVowels):
  vowel = vowels[index]
  message = 'vowels[' + str(index) + '] = ' + vowel
  print(message)

vowels = "aeiou"

vowels[0] = a
vowels[1] = e
vowels[2] = i
vowels[3] = o
vowels[4] = u

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'

newAlphabet = ''
for letter in alphabet:
  newAlphabet += letter  # newAlphabet = newAlphabet + letter
  print(newAlphabet)

a
ab
abc
abcd
abcde
abcdef
abcdefg
abcdefgh
abcdefghi
abcdefghij
abcdefghijk
abcdefghijkl
abcdefghijklm
abcdefghijklmn
abcdefghijklmno
abcdefghijklmnop
abcdefghijklmnopq
abcdefghijklmnopqr
abcdefghijklmnopqrs
abcdefghijklmnopqrst
abcdefghijklmnopqrstu
abcdefghijklmnopqrstuv
abcdefghijklmnopqrstuvw
abcdefghijklmnopqrstuvwx
abcdefghijklmnopqrstuvwxy
abcdefghijklmnopqrstuvwxyz

### 1.4. Format Strings

You can build strings with different values using format instead of casting the variables:

In [ ]:
nameOfTheMonster = 'Pikachu'
nameOfTheVillage = 'Oulu'
numberOfPeopleKilled = 100

story = f'A temible monster called {nameOfTheMonster} attacked the village of {nameOfTheVillage} and killed {numberOfPeopleKilled} people'

print(story)

A temible monster called Pikachu attacked the village of Oulu and killed 100 people

### 1.5. Slicing Strings (Substrings)

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
firstFiveLetters = alphabet[:5]
print('First Five Letters:',firstFiveLetters)

First Five Letters: abcde

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
firstFiveLetters = alphabet[0:5]
print('First Five Letters:',firstFiveLetters)

First Five Letters: abcde

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
lastSixLetters = alphabet[-6:]
print('Last Six Letters:',lastSixLetters)

Last Six Letters: uvwxyz

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
length = len(alphabet)
i1 = length - 6
i2 = length
lastSixLetters = alphabet[i1:i2]
print(f'alphabet[{i1}:{i2}] = {lastSixLetters}')

alphabet[20:26] = uvwxyz

### 1.6. Modify Strings (Unmutable)

In [ ]:
name = 'john'
name + ' jones'
print(name)

john

In [ ]:
name = 'john'
name = name + ' jones'
print(name)

john jones

### 1.7. Useful Methods

* str.count()

In [ ]:
text = 'AbracAdabrA'
text.count('a') , text.count('A')

(2, 3)

* str.index()

In [ ]:
text = 'Where is the butterfly?'
text.find('butter')

13

* str.isalpha()

In [ ]:
text = 'blink182'
text.isalpha()

False

In [ ]:
text = 'blink'
text.isalpha()

True

* str.isdecimal()

In [ ]:
text = 'blink182'
text.isdigit()

False

In [ ]:
text = '182'
text.isdigit()

True

* str.isalnum()

In [ ]:
text = '$#meth!n?'
text.isalnum()

False

In [ ]:
text = 's0meth1ng'
text.isalnum()

True

* str.replace()

In [ ]:
text = ' s o m e t h i n g '
text.replace(' ','')

'something'

* str.split()

In [ ]:
items = 'eggs-fruits-vegetables-milk'
items.split('-')

['eggs', 'fruits', 'vegetables', 'milk']

* str.lower()

In [ ]:
text = 'CONVERT THIS TO LOWER CASE'
text.lower()

'convert this to lower case'

Let's do together the problem of Coding Bat called **make_tags**. You can find it in the section **String-1** [Link](https://codingbat.com/prob/p132290)

If you want to improve or test your skills with Strings, go through the following challenges:

**CodingBat: String-1** [Link](https://codingbat.com/python/String-1)

⍟   make_abba  
⍟⍟  first_half  
⍟⍟  extra_end  
⍟⍟  make_tags  
⍟⍟  non_start

## 2. Data Structures

### 2.1. Lists

In [ ]:
emptyList = []

fruits = ['apple', 'orange', 'banana']

listWithMultipleDataTypes = ['John', 10 , False]

In [ ]:
fruits = ['apple', 'orange', 'banana']
firstFruit = fruits[0]
lastFruit = fruits[-1]

print(f'First Fruit: {firstFruit}')
print(f'Last Fruit: {lastFruit}')

First Fruit: apple
Last Fruit: banana

You can iterate over the elements of a list, executing certain code with each one using For Loops. In this first example, the loop executes the code for each element:

In [ ]:
for fruit in fruits:
  print(fruit)

apple
orange
banana

It's also possible to iterate over the list using the indices:

In [ ]:
nFruits = len(fruits)

for index in range(nFruits):
  fruit = fruits[index]
  print(fruit + ' is at position #' + str(index))

apple is at position #0
orange is at position #1
banana is at position #2

#### Add elements

In [ ]:
fruits = ['apple', 'orange', 'banana']
print('Before appending:',fruits)
fruits.append('mango')
print('After appending:',fruits)

Before appending: ['apple', 'orange', 'banana']
After appending: ['apple', 'orange', 'banana', 'mango']

In [ ]:
print('Before removing the last element:',fruits)
fruits.pop()
print('After removing the last element:',fruits)

Before removing the last element: ['apple', 'orange', 'banana', 'mango']
After removing the last element: ['apple', 'orange', 'banana']

In [ ]:
print('Before removing the first element:',fruits)
fruits.pop(0)
print('After removing the first element:',fruits)

Before removing the first element: ['apple', 'orange', 'banana']
After removing the first element: ['orange', 'banana']

Let's do together the problem of Coding Bat called **array_count9**. You can find it in the section **Warmup-2** [Link](https://codingbat.com/prob/p166170)

If you want to improve or test your skills with Lists, go through the following challenges:

**CodingBat: Warmup 2**

⍟   array_count9  
⍟⍟  array123

**CodingBat: List 1**

⍟   common_end  
⍟⍟  rotate_left3  
⍟   max_end3

### 2.2. Dictionaries (a.k.a Maps)

In [ ]:
personalInformationInSingleLine = { 'name':'John' , 'age':45 , 'isStudent':True, 'courses': ['NLP','NN'] }

In [ ]:
personalInformation = {
    'name':'John',
    'age':45,
    'isStudent':True,
    'courses': [ 'NLP' , 'NN' ]
}

In [ ]:
for field in personalInformation:
  value = personalInformation[field]
  print(f'{field} -> {value}')

name -> John
age -> 45
isStudent -> True
courses -> ['NLP', 'NN']

#### Get a specific element

In [ ]:
name = personalInformation['name']
name

'John'

#### Iterate over a Dictionary

In [ ]:
for field in personalInformation:
  value = personalInformation[field]
  print(f'{field} -> {value}')

name -> John
age -> 45
isStudent -> True
courses -> ['NLP', 'NN']

#### Add a new element

In [ ]:
personalInformation['favoriteColor'] = 'blue'
personalInformation

{'age': 45,
 'courses': ['NLP', 'NN'],
 'favoriteColor': 'blue',
 'isStudent': True,
 'name': 'John'}

#### Remove an element

In [ ]:
personalInformation.pop('isStudent')
personalInformation

{'age': 45, 'courses': ['NLP', 'NN'], 'favoriteColor': 'blue', 'name': 'John'}

Let's do together the problem of Coding Bat called **list2dict**. You can't find it in any official section. [Link](https://codingbat.com/prob/p220674)

## 3. Conditionals

In [ ]:
question1 = 'Did the hero escaped from the monster? [yes/no]'
answer1 = input(question1)
if answer1 == 'yes':
  escaped = True
else:
  escaped = False
print(f'Escaped = {escaped}')

Did the hero escaped from the monster? [yes/no]maybe
Escaped = False

Let's do together the problem of Coding Bat called **love6**. You can find it in the section **Logic 1** [Link](https://codingbat.com/prob/p100958)

If you want to improve or test your skills with Conditionals, go through the following challenges:

**CodingBat: Warmup 1**

⍟   sum_double  
⍟⍟  diff21  
⍟⍟  not_string  
⍟⍟⍟ pos_neg  

**CodingBat: Logic 1**

⍟   sorta_sum  
⍟⍟  love6  
⍟⍟  in1to10  
⍟⍟⍟ caught_speeding  

**CodingBat: Logic 2**

⍟   lone_sum  
⍟⍟⍟ lucky_sum

## 4. Functions

In [ ]:
def explainFunctions():
  print()
  print('Functions can be defined without receiving parameters and without returning any value')
  print('They can be useful to automate repetitive tasks, grouping a block of code in a single component')
  print('This simple component can be executed as many times as you want.')
  print()
  print('Next time that you copy paste code you should consider creating a function :)')

In [ ]:
explainFunctions()

Functions can be defined without receiving parameters and without returning any value
They can be useful to automate repetitive tasks, grouping a block of code in a single component
This simple component can be executed as many times as you want.

Next time that you copy paste code you should consider creating a function :)

### 4.1. Parameters

Functions can receive parameters and use them inside it:

In [ ]:
def tellShortStory(heroName='John',monsterName='Pikachu'):
  print(f'In the middle of the night, a monster called {monsterName} attacked a village')

In [ ]:
heroName = 'Moctezuma'
monsterName = 'Pikachu'
tellShortStory(heroName, monsterName)

In the middle of the night, a monster called Pikachu attacked a village

The function called tellShortStory() won't work if you don't pass the two parameters when you call it.

In [ ]:
tellShortStory(monsterName='Abc')

In the middle of the night, a monster called Abc attacked a village

These parameters can have default values, so that you don't have to declare all the parameters when you call the function. This is very useful if you are going to use a specific value most of the times that you call a function.

In [ ]:
def tellShortStory(heroName,monsterName, heroIsPowerful=True):
  print(f'In the middle of the night, a terrible monster called {monsterName} attacked a village')
  if (heroIsPowerful):
    print(f'Nevertheless, the legendary hero called {heroName} appeared and destroyed the monster')
  else:
    print(f'The monster was so powerful that no one could save the village, neither the legendary hero called {heroName}')

In [ ]:
heroName = 'Moctezuma'
monsterName = 'Pikachu'
tellShortStory(heroName, monsterName)

In the middle of the night, a terrible monster called Pikachu attacked a village
Nevertheless, the legendary hero called Moctezuma appeared and destroyed the monster

In [ ]:
heroName = 'Moctezuma'
monsterName = 'Pikachu'
tellShortStory(heroName, monsterName, heroIsPowerful=False)

In the middle of the night, a terrible monster called Pikachu attacked a village
The monster was so powerful that no one could save the village, neither the legendary hero called Moctezuma

You can also change the order of the parameters, however, you must specify the name of all of them:

In [ ]:
tellShortStory(heroIsPowerful=False, monsterName='Pikachu', heroName='Moctezuma')

In the middle of the night, a terrible monster called Pikachu attacked a village
The monster was so powerful that no one could save the village, neither the legendary hero called Moctezuma

### 4.2. Define Return values

In [ ]:
def functionThatReceivesAndReturns(number):
  print(f'This function can receive a parameter, execute some code inside and return a final result')
  result = 10 * number + 5
  print(f'This function receives a number and returns a calculation defined by y=10x+5')
  print()
  print(f'This function received a {number}')
  print(f'{number} multiplied by 10 is {10*number}')
  print(f'And {10*number} plus 5 is {result}')
  return result

In [ ]:
number = 0
value = functionThatReceivesAndReturns(number)

This function can receive a parameter, execute some code inside and return a final result
This function receives a number and returns a calculation defined by y=10x+5

This function received a 0
0 multiplied by 10 is 0
And 0 plus 5 is 5

In [ ]:
print(f'Final value for input {number} is {value}')

Final value for input 0 is 5